__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.so

venv/
env/
telemanom_and_vae/.env/
telemanom_and_vae/telemanom/.env
venv-3.7/
.venv/

.idea/
.vscode/
*.swp
*.swo

mlruns/

.dvc/cache
.dvc/tmp

*.csv
*.parquet
*.h5
*.hdf5
*.pkl
*.pickle

*.log

.mvp/

*.egg-info/
dist/
build/.ipynb_checkpoints/
